# clangd 配置文件，由 clangd_config_generator 生成
CompileFlags:
  Add:
    - -I.
    - -Iinclude
    - -Isrc
    - -Isrc/app
    - -Isrc/brom
    - -Isrc/demo
    - -Isrc/drivers
    - -Isrc/test
    - -DDEBUG=1
    - -DWW_LOG_MODE_ENCODE
    - -DWW_LOG_MODE_DISABLED
    - -DWW_LOG_STATIC_MODULE_TEST_EN=0"
    - -DWW_LOG_ENCODE_RAM_BUFFER_EN
    - -D_GNU_SOURCE
    - -DWW_LOG_STATIC_MODULE_DEMO_EN=0"
    - -DWW_LOG_STATIC_MODULE_DEMO_EN=0
    - -DWW_LOG_MODE_STR
  Remove:
    - -W*
    - -std=*
    - -O*

Diagnostics:
  UnusedIncludes: false
  MissingIncludes: false

InlayHints:
  Enabled: true
  ParameterNames: true
  VariableTypes: true
  DeducedTypes: true

Index:
  Background: Build
  StandardLibrary: true
