# clangd 配置文件，由 clangd_config_generator 生成
CompileFlags:
  Add:
    - -I.
    - -Imigration/include
    - -Imigration/porting
    - -Iww_log_v0/include
    - -Iww_log_v0/sim
    - -Iww_log_v0/src/app
    - -Iww_log_v0/src/brom
    - -Iww_log_v0/src/demo
    - -Iww_log_v0/src/drivers
    - -Iww_log_v0/src/test
    - -Iww_log_v1/include
    - -Iww_log_v1/output
    - -Iww_log_v1/sim
    - -Iww_log_v1/src/demo
    - -Iww_log_v1/src/drivers
    - -Iww_log_v1/src/test
    - -Iww_log_v2/include/log
    - -D_GNU_SOURCE
  Remove:
    - -W*
    - -std=*
    - -O*

Diagnostics:
  UnusedIncludes: false
  MissingIncludes: false

InlayHints:
  Enabled: true
  ParameterNames: true
  VariableTypes: true
  DeducedTypes: true

Index:
  Background: Build
  StandardLibrary: true
